.main {
    border: solid rgba(128, 128, 128, 0.250);
    border-radius: 10px;
    justify-content: center;
    margin: 6rem auto;
    width: 40%;
    min-width: 400px;
    padding: 0;
}

.main_content {
    padding: 10px 15px;
}

.main_content h1 {
    text-align: center;
}

.form {
    display: block;
    margin-left: 0.25vw;
}

.input_label {
    display: block;
    padding-bottom: 1em;
}


.input_label p {
    font-size: 12px;
    margin-block-end: 0.15em;
    margin-block-start: 0.15em;

}

.input_label input {
    background-color: #fff;
    border-radius: 5px;
    color:black;
    font-size: 16px;
    font-weight: 600;
    min-width: 250px;
}
